@media (max-width: 768px) {
    .promo {
        &__title {
            font-size: 36px;
            line-height: 44px;
        }
        &__subtitle {
            font-size: 24px;
        }
        &__name {
            font-size: 38px;
            line-height: 44px;
        }
    }
    .about {
        &__text {
            font-size: 12px;
            line-height: 17px;
        }
    }
    .resume {
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
        }
    }
    .about {
        &__skills {
            display: flex;
            flex-wrap: wrap;
            &-item {
                grid-template-columns: 15% 68%;
                column-gap: 8px;
            }
        }
    }
    .usage {
        &__items {
            justify-content: center;
        }
    }
    .portfolio {
        .jstitle {
           margin-top: 54%;
        }
    }
}
@media (max-width: 500px) {
    .promo {
        &__title {
            font-size: 30px;
            line-height: 40px;
        }
        &__subtitle {
            font-size: 20px;
        }
        &__name {
            font-size: 30px;
            line-height: 20px;
        }
        &__btns {
            margin-bottom: 0;
        }
    }
    .about {
        margin-left: 5%;
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
        }
        &__photo {
            display: none;
        }
        &__subtitle {
            font-size: 24px;
            line-height: 27px;
        }
        &__text { 
            line-height: 13px;
        }
    }
    .resume {
        &__wrapper {
            padding: 0px 65px 0 65px;
        }
    }
    .usage {
        &__items {
            padding: 0;
        }
    }
    .portfolio {
        .jstitle {
           margin-top: 74%;
        }
    }
    .price {
        &__items {
            grid-template: repeat(3,minmax(45px,auto))/repeat(2,44%);
            row-gap: 4px;
        }
    }
    .contacts {
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
        }
        &__subtitle {
            font-size: 12px;
            line-height: 20px;
            &_main {
                font-size: 20px;
                line-height: 21px;
            }
        }
        &__text {
            margin-top: 0;
        }
        &__social {
            margin-top: 8%;
        }
        &__form {
            display: flex;
            flex-wrap: wrap;
        }
        &__photo {
            display: none;
        }
        &__input {
            width: 100%;
        }
        &__textarea {
            width: 100%;
        }
    }
}

