.usage {
    padding-top: 5%;
    &__items {
        opacity: 0;
        transition: opacity 1s;
        display: grid;
        /* grid-template-columns: repeat(4,270px);
        column-gap: 13px;
        row-gap: 13px; */
        grid-template-columns: repeat(auto-fit, 270px);
        grid-auto-rows: minmax(270px, auto);
        justify-content: space-between;
        padding-top: 61px;
        gap: 13px;
        &-cont {
            padding: 30px 29px 25px 28px;
            border: 1px  solid #000000;  
        }
        &-title {
            padding-top: 20px;
        }
        &-descr {
            font-size: 12px;
            line-height: 18px;
        }
    }
    .usage_show {
        opacity: 1;
    }
}
